<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.laithabdeljabar.miniprofilehost">

    <application>
        <activity
            android:name=".MiniProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.Material3.DayNight"
            android:windowSoftInputMode="stateHidden|adjustResize" />
    </application>

</manifest>
